# PyCharm
.idea

# Python
__pycache__


# Files too large to fit into repository
data/l1b

# Temp Processes
manage
preprocess
sql_snippet

# Transient Output
logs
plots


# R-lang
.Rproj.user
.Rhistory
.RData
.Ruserdata
